.marquee {
  width: 100vw;
  white-space: nowrap;
  position: relative;
  height: 20vh;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.logo {
  position: relative;
}
.logoImage {
  mix-blend-mode: luminosity;
}
