.hero{
    width: 100vw;
    height: 90vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

}
.hero__main {
  width: 59.375rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;

}
.hero__headline {
  font-family: var(--font-schabo);
  font-size: 8rem;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.1; 
  display: block;
  white-space: normal;
  width: 950;
  position: relative;
  margin: 0 auto;
}
.hero__headline .ellipse{
    width: 0.9rem;
    height: 0.9rem;
    background-color: #FF0000;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: 2rem;
    right: 15.1rem;
}
.hero__footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-space-mono);
    text-transform: uppercase;
}
.audio__toggle{
    display: flex;
}
.audio__toggle_main{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #080808;
    font-family: var(--font-space-mono);
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
}
@media screen and (max-width: 550px) {
    .hero__headline{
        font-size: 3rem;
    }
    .hero__main{
        width: 70%;
    }
    .hero{
        padding: 1rem;
    }
    .hero__main {
        width: 100%;
    }
    .hero__footer{
        font-size: 0.5rem;
    }
    .audio__toggle_main{
        font-size: 0.5rem;
    }
    .hero__headline .ellipse{
        bottom: 1rem;
        right: 7rem;
        width: 0.5rem;
        height: 0.5rem;
    }
}
@media screen and (min-width: 551px) and  (max-width: 1024px) {
    .hero__main{
        width: 100%;
    }
    .hero__headline{
        font-size: 5rem;
    }
    .hero__headline .ellipse{
        bottom: 1rem;
        right: 12.5rem;
    }
}